[
 {nova, [
         {environment, dev},
         {cowboy_configuration, #{
                                  port => 8080,
                                  stream_handlers => [otel_nova_stream_h, cowboy_stream_h]
                                 }},
         {bootstrap_application, nova_otel_demo}
        ]},

 {opentelemetry, [
         {span_processor, batch},
         {traces_exporter, {opentelemetry_exporter, #{
             protocol => http_protobuf,
             endpoints => [#{host => "localhost", port => 4318, path => "/v1/traces"}]
         }}}
        ]},

 {opentelemetry_experimental, [
         {readers, [
             #{module => otel_metric_reader,
               config => #{
                   export_interval_ms => 5000,
                   exporter => {otel_nova_prom_exporter, #{}}
               }}
         ]}
        ]},

 {opentelemetry_exporter, [
         {otlp_protocol, http_protobuf},
         {otlp_endpoint, "http://localhost:4318"}
        ]}
].
